@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

  
  ul {
    list-style: none;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.blue {
  color: #3e3f92;
}
  
/* LANDING PAGE */

#landing__page {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  position: relative;
  background-color: #e6f7ff;
}

.title {
  font-size: 32px;
  font-weight: 800;
  color: #242424;
}

.sub__title {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.info {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 24px;
}



/* ABOUT US PAGE  */

#About {
  width: 100%;
max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pg__title {
  font-size: 48px;
  font-weight: 900;
  color: #242424;  
  text-align: center;
}

.pg__sub-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 16px;
}

.pg__info {
  width: 100%;
  max-width: 600px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 40px;
}

/*  NAVIGATION BAR  */

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent; 
    z-index: 2;
  }

.background-photo {
  width: 100%;
  height: 400px;
  opacity: 50%;
  z-index: -1;
}

.logo__wrapper {
  display: flex;
  align-items: center;
}

.agent__photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.personal__logo {
  filter: invert();
  width: 100px;
  height: 100px;
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__link {
  margin-left: 20px;
}

.nav__link--anchor {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav__link--anchor:hover {
  text-decoration: underline 2px solid;
  cursor: pointer;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.footer__link--hover-effect:hover::after {
  left: 0;
  width: 75%;  
}

.nav_btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}

.nav_btn:hover {
  background-color: #0056b3;
}

.nav__link--list {
  font-size: 12px;
  font-weight: 700;
  display: flex;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: #242424;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible !important;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 28px;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}

  /*  LANDING PAGE  */

.row__experience {
  display: flex;
}

.info__wrapper,
.tech__wrapper {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0,auto;
  padding-left: 24px;
  padding-right: 24px;
}

.real-estate__photo {
  width: 50%;
  height: 50%;
  margin: 24px;
  padding: 16px;
    }

.row__technology {
  display: flex;
  flex-direction: row-reverse;
}


.real-estate__photo-2 {
  width: 60%;
  height: 60%;
  margin: 24px;
  padding: 16px;
}

  /*


Modal


*/


.modal {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}


.modal--open .modal {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  visibility: visible;
}


.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease;
}


.modal--open .modal__about,
.modal--open .modal__contact {
  transform: translateX(0%);
}


.modal__about {
  background-color: rgb(245, 245, 245);
  transform: translateX(-110%);
}


.modal__languages {
  display: flex;
  flex-wrap: wrap;
}


.modal__language {
  width: 25%;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 300ms ease;
}


.modal__language:hover .language__name {
  transform: scale(1);
}


.modal__language:hover {
  transform: scale(0.9);
  filter: brightness(80%);
}


.language__name {
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  bottom: -10px;
  transform: scale(0);
  transition: all 300ms ease;
}


.modal__language--img {
  width: 100%;
}


.modal__contact {
  background-color: #242424;
  color: #fff;
  transform: translateX(110%);
}


.modal__title {
  font-size: 26px;
  font-weight: 700;
}


.modal__sub-title {
  padding: 12px 0 24px 0;
  font-size: 14px;
}


.modal__para {
  margin-bottom: 24px;
  line-height: 1.75;
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: start;
}


.form__item {
  margin-bottom: 20px;
}


.form__submit {
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  max-width: 240px;
  background-color: #007bff;
  border: 2px solid #007bff;
  color: #fff;
  padding: 12px 24px;
  transition: all 300ms ease;
}


.form__submit:hover {
  border-color: #fff;
  background-color: transparent;
}


.form__submit:active {
  border-color: #007bff;
  color: #007bff;
}


.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}


.modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
}


.modal__overlay--success {
  background-color: #007bff;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 28px;
}


.modal__overlay--visible {
  z-index: 1;
  display: flex;

}


.fa-spinner {
  animation: spinner 750ms infinite linear;
}


@keyframes spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


.modal__exit {
  position: absolute;
  font-size: 36px;
  color: #fff;
  top: 30px;
  right: 40px;
  z-index: 100;
}


  /*  FOOTER  */

  footer {
    background-color: #242424;
  }
  
  .footer__logo {
    display: flex;
    justify-content: center;
    padding-top: 16px;
  }
  
  .footer__logo--img {
    width: 100px;
    filter: grayscale(1) invert(0);
  }
  
  .footer__link,
  .footer__copyright {
    color: #fff;
    display: flex;
    justify-content: center;
  }
  
  .footer__list {
    display: flex;
    justify-content: center;
    margin: 20px 0 24px 0;
  }
  
  .footer__link {
    padding: 0 8px;
  }

  .footer__icons {
    display: flex;
    justify-content: center;
  }

  .footer__social--list {
    width: 100%;
    max-width: 500px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 28px 0;
  }
  
  .footer__social--link,
  .copyright {
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 32px;
  }

  /*

SMALL PHONES, TABLETS, LARGE SMART PHONES

*/

@media (max-width: 768px) {
  .row__experience,
  .row__technology {
flex-direction: column;
align-items: center;
  }
  .title {
    font-size: 28px;
  }
  .header__para {
    font-size: 16px;
  }
  .modal {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }
  .modal__half {
    width: 100%;
  }
}

/*

SMART PHONES

*/

@media (max-width: 480px) {
  .nav__link {
    display: none;
  }
  .btn__menu {
    background-color: transparent;
    font-size: 28px;
    border: none;
    color: #242424;
    display: block;
  }
  .menu__list {
    font-size: 16px;
    font-weight: 600;
    background-color: #242424;
    color: #fff;
    transform: translateY(180px);
  }
  .title {
    font-size: 16px;
  }
  .header__para {
    font-size: 16px;
  }  
  .modal__half {
    padding: 40px;
  }
}

/*

SMALL PHONES

*/

@media (max-width: 360px) {
  .nav__link {
    display: none;
  }
  .btn__menu {
    background-color: transparent;
    font-size: 28px;
    border: none;
    color: #242424;
    display: block;
  }
  .menu__list {
    font-size: 28px;
    font-weight: 600;
    background-color: #242424;
    color: #fff;
    transform: translateY(180px);
  }
  .title {
    font-size: 16px;
  }
  .header__para {
    font-size: 16px;
  }  
  .modal__half {
    padding: 40px;
  }
}